* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* ----------- navbar-styling ----------- */
nav {
    background-color: red;
}

.navbar-brand img{
    height: 60px;
}

ul li a {
    margin: 0 20px;
}

ul li a:hover {
    font-weight: 600;
}

/* ----------- about-styling ----------- */
.about {
    background-color: blue;
    padding: 40px 100px;
}

/* ----------- products-styling ----------- */
.products {
    background-color: green;
    padding: 40px 100px;
}

.products h1 {
    color: black;
}

.products img {
    height: 200px;
    width: 100%;
    margin: 20px 0;
    padding: 20px 40px;
}

.products iframe {
    height: 200px;
    margin: 20px 0;
    border-radius: 4px;
}

/* ----------- services-styling ----------- */
.services {
    background-color: grey;
    padding: 40px 80px;
}

.services p {
    font-size: 14px;
}

.services h2 {
    text-align: center;
    margin-top: 20px;
}

.services-container {
    margin: 40px 20px;
}

/* ----------- contact-styling ----------- */
.contact {
    max-width: 98.9%;
}

.contact-left {
    display: flex;
    padding: 40px 116px !important;
    border-right: 1px solid #ececec;
}

.contact-heading {
    margin-right: 20px;
    font-weight: 600;
}

.fa-whatsapp {
    color: 	#25D366;
}

.fa-whatsapp:hover {
    box-shadow: 0px 0px 10px 0px #ececec;
    font-size: 18px;
}

.contact-right {
    padding: 40px 116px !important;
    text-align: center;
}

.contact-right h5{
    font-weight: 600;
}

/* ----------- footer-styling ----------- */
.footer {
    border-top: 1px solid #ececec;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}


/* ----------- Responsiveness-styling ----------- */
@media (max-width: 768px) {
    
    ul li a {
        margin: 0 40px;
    }

    .about {
        padding: 40px;
    }

/* ----------- products-styling ----------- */
    .products {
        padding: 40px;
    }
    
    .products img {
        height: 200px;
        width: 100%;
        margin: 20px 0;
        padding: 20px 40px;
    }
    
    .products iframe {
        height: 200px;
        margin-left: -16px;
        border-radius: 4px;
    }
    
/* ----------- services-styling ----------- */
    .services {
        padding: 40px 20px;
    }
    
    .services p {
        font-size: 14px;
    }
    
    .services h2 {
        text-align: center;
        margin-top: 20px;
    }
    
    .services-container {
        margin: 40px 20px;
    }

/* ----------- contact-styling ----------- */
    .contact-left {
        padding: 40px 86px !important;
        border-right: none;
    }
    
    .contact-right {
        padding: 40px 86px !important;
    }
}